body{
    display: flex;
    align-items: flex-start;
}


.blue{
    padding: 100px;
    background-color: rgb(2, 114, 179);
}
.yo{
    padding: 50;
    background-color: rgb(255, 255, 0);
    margin: 10px;
}
.flex{
    display: flex;
}